.react-component-grid-table {
    border-spacing: 0;
    border-collapse: collapse;
}

.react-component-grid-cell {
    width: 200px;
    height: 70px;
    text-align: left;
    line-height: 70px;
    border: 1px solid #000;
    vertical-align: baseline;
}

.grid-image {
    border: 2px solid #000;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    margin: 17px 10px 0 10px;
    float: left;
}

.react-component-grid-header {
    text-align: left;
    cursor: pointer;
    -webkit-user-select: none;
}
